.grid-container {
  padding: 1.5rem;
  background-color: #d2f4f7;
  border-radius: 3rem;
}

.grid-container > .section-heading {
  display: grid;
  place-items: center;
  text-align: center;
}

.grid-container > .section-heading .section-text {
  max-width: 30rem;
  font-size: 2rem;
  color: #00273f;
}

.grid-container > .section-heading .section-description {
  max-width: 28rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #698d9b;
}

.grid-container > .section-heading .custom-button {
  display: none;
}

.grid-container > .section-grid {
  display: grid;
  max-width: 25rem;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
  border-radius: 1rem;
  aspect-ratio: 1;
  background-color: #FFFFF9;
}

.grid-item > .title {
  margin: 0;
  padding: 0 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #0367A5;
}

.grid-item > .description {
  margin: 0;
  padding: 0 1rem;
  font-size: clamp(.75rem, 2vw, 1rem);
  color: #999999;
}

@media screen and (min-width: 1024px) {

  .grid-container {
    display: grid;
   row-gap: 5rem;
  }

  .grid-container > .section-heading > .custom-button {
    display: block;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1500px) {
  .grid-container {
    display: flex;
    justify-content: space-between;
    padding: clamp(5rem, 6vw, 10rem);
  }

  .grid-container > .section-heading {
    display: block;
    place-items: start;
    text-align: left;
  }

  .grid-container > .section-grid {
    grid-template-columns: repeat(3, 15rem);
    max-width: unset;
    margin: unset;
  }

  .grid-item {
    aspect-ratio: 6 / 4;
  }
}